$theme-color: #fd3;

.navbar {
  background-color: $theme-color;
}

.navbar-brand {
  font-size: 2rem;
}

.hero {
  background-color: lighten($theme-color, 15%);
  .tickets {
    overflow: auto;
  }
}

.events {
  background-color: lighten($theme-color, 30%);
}
