$theme-color: #fd3;

.navbar {
  background-color: $theme-color;
}

.navbar-brand {
  font-size: 2rem;
}

.hero {
  background-color: lighten($theme-color, 15%);
  .tickets {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.events {
  background-color: lighten($theme-color, 30%);
}

.event-card {
  .card-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
// datepicker
th.dow {
  &:first-child {
    color: #dc3545;
  }
  &:last-child {
    color: #007bff;
  }
}

// イベント作成画面
#id_date {
  background-color: #fff;
}

// ビデオチャット画面
$video-height: 80vh;

.video-chat-container {
  height: $video-height;
  position: relative;
  text-align: center;
}

#notesButton {
  left: 15px;
  position: absolute;
  top: 0;
}

.remote-video-container {
  background-color: lightgray;
  display: inline-block;
  position: relative;
}

.local-video-container {
  bottom: 0;
  position: absolute;
  right: 15px;
  max-width: 30%;
}
@media (min-width: 576px) {
  .local-video-container {
    max-width: 25%;
  }
}
@media (min-width: 992px) {
  .local-video-container {
    max-width: 20%;
  }
}

#pleaseWait {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#pleaseWaitInner {
  background-color: rgba(255, 255, 255, 0.8);
  height: $video-height;
}

#remoteVideo {
  max-height: $video-height;
  max-width: 100%;
  object-position: top;
}
@media (min-width: 576px) {
  #remoteVideo {
    height: $video-height; // スマホ以外では画面に大きく表示
  }
}

#localVideo {
  max-height: $video-height;
  transform: scaleX(-1); // 自分の映像は左右反転
}

.video-name {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  font-size: small;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 0.1rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
