{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | ONACU</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/manager.scss' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light title">
      <a class="navbar-brand" href="/">OnAcu</a>
    </nav>
    <ul class="nav person">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">{{ user.username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:eve_new' %}">イベント作成</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:logout' %}">ログアウト</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:login' %}">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cms:signup' %}">新規登録</a>
      </li>
      {% endif %}
    </ul>
  </header>
  <!-- MESSAGE -->
  <article class="message is-warning">
    <div class="message-body">
      {% for error in errors %}
      <p><strong>{{ error }}</strong></p>
      {% endfor %}
    </div>
  </article>
  <main>
    {% block hero %}{% endblock %}
    {% block tab %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        2020 <strong>UTokyo Project Sprint</strong>
      </div>
      <div class="content has-text-centered">
        <a href="#" class="has-text-dark">About</a> |
        <a href="#" class="has-text-dark">Contact</a> |
        <a href="#" class="has-text-danger">Report an issue</a>
      </div>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- jQuery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
</body>
</html>