{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}OnAcu</title>
  {# Favicon begin #}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
  <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#ffdd33">
  <meta name="msapplication-TileColor" content="#ffdd33">
  <meta name="theme-color" content="#ffdd33">
  {# Favicon end #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {# Bootstrap CSS #}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"> {# Font Awesome #}
  {% block css %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="far fa-handshake"></i> OnAcu</a>
      {% if user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item ">
            <a class="nav-link" href="{% url 'cms:point_buy' %}">ポイント購入</a>
          </li> -->
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'cms:eve_new' %}">イベント作成</a>
          </li>
        </ul>
        <div class="ml-auto mr-3">
          <span class="navbar-text">{{ user.username }}さん</span>
          <a class="btn btn-secondary" href="{% url 'cms:mypage' %}">マイページ</a>
          <a class="btn btn-secondary" href="{% url 'cms:logout' %}">ログアウト</a>
        </div>
      </div>
      {% else %}
      <div class="ml-auto mr-3">
        <a class="btn btn-secondary" href="{% url 'cms:signup' %}">登録</a>
        <a class="btn btn-secondary" href="{% url 'cms:login' %}">ログイン</a>
      </div>
      {% endif %}
    </div>
  </nav>
  {% if form.non_field_errors %}{# FormのFieldに依存しないエラーを表示 #}
  <div class="container mt-3">
    {% include "./error_alert.html" with errors=form.non_field_errors %}
  </div>
  {% endif %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="py-3">
    <div class="container d-flex justify-content-between">
      <ul class="list-inline">
        <li class="list-inline-item">&copy; 2020 OnAcu</li>
        <!-- <li class="list-inline-item"><a href="#">About</a></li> -->
        <li class="list-inline-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSelAkzXzBNkS02jyZyqIu2I4i-v2DqKLYnqFiaoquZJXZxDWA/viewform?usp=sf_link">Report an issue</a></li>
        <li class="list-inline-item"><a href="https://twitter.com/onacu_official" target="_blank" rel="noopener">Twitter</a></li>
      </ul>
      <a href="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utokyo-project-sprint/" target="_blank" rel="noopener nofollow">
        <img src="{% static "image/ProjectSprint_logo2.svg" %}" alt="UTokyo Project Sprint" width="32" height="32" loading="lazy">
      </a>
    </div>
  </footer>
</body>

</html>