{% extends 'cms/base.html' %}

{% block title %}チケット入手完了 | {% endblock %}

{% block content %}
<div class="events">
  <div class="container py-3">
    <h1 class="border-bottom pb-2">チケット入手完了</h1>
    <p class="lead">ご参加ありがとうございます。イベントでお待ちしています。</p>
    <a class="btn btn-secondary btn-block btn-lg mb-2" href="{% url 'cms:eve_ical' event_id %}"><i class="fas fa-calendar"></i> カレンダーに追加</a>
    <a class="btn btn-primary btn-block btn-lg" href="{% url 'cms:top' %}">トップページに戻る</a>
  </div>
</div>
{% endblock %}