{% extends 'cms/base.html' %}

{% block title %}Signup | {% endblock %}

{% block content %}
<section class="section">
  <div class="container is-mobile">
    <h1 class="title is-4">{{ event.name }}</h1>
    <hr>
    <br>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!--  イベントのホストユーザー以外のビュー -->
    {% if user != event.host %}
    <h2 class="subtitle is-6">開催者：{{ event.host.username }}</h2>
    <h2 class="subtitle is-6">{{ event.date }}</h2>
    <h2 class="subtitle is-6">1チケットでの時間：{{ event.personal_time }}秒</h2>
    <h2 class="subtitle is-6">残り：{{ event.total_ticket }}枚</h2>
    <h2 class="subtitle is-6">状態：{{ event.status }}</h2>
      {% if is_ticket %}
        <strong>購入済みです</strong>
      {% else %}
        {%if event.total_ticket > event.purchaced_ticket %}
          <a href="{% url 'cms:buy' event.id%}">
            <strong>購入する</strong>
          </a>
        {% else %}
          <strong>完売しました</strong>
        {% endif %}
      {% endif %}
    {% else %}
      <a href="{% url 'cms:eve_now' event.id%}">
        <strong>イベントを開催する</strong>
      </a>
    {% endif %}
  </div>
</section>
{% endblock %}