{% extends 'cms/base.html' %}

{% load static %}

{% block title %}Signup | {% endblock %}

{% block content %}
{% if user == event.host%}
  <h1 class="title is-4" id="js-host" value="{{ event.id }}">ホスト</h1>
  <h2 class="subtitle is-6">You are Host</h2>
  <hr>
{% else %}
  <h1 class="title is-4 user" id="js-user" value="user">ユーザー</h1>
  <h2 class="subtitle is-6" id="js-ticket" value="{{ ticket.id }}">You are user.</h2>
  <hr>
{% endif %}
<div class="container">
  <div class="remoteContainer">
    <video id="remoteVideo"></video>
  </div>
  <div class="localContainer">
    <video id="localVideo"></video>
  </div>
  {% if user == event.host %}
    <button id="js-start">開始する</button>
    <p id="ticketOrder" value="1">残り人数</p>
  {% endif %}
  <p class="meta" id="js-meta"></p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<a href="{% url 'cms:eve_de' event.id %}">詳細画面に戻る</a>
{% endblock %}