{% extends 'cms/base.html' %}

{% block title %}Signup | {% endblock %}

{% block content %}
<section class="section">
  <div class="container is-mobile">
    <h1 class="title is-4">チケットを購入する</h1>
    <h2 class="subtitle is-6">Buy Ticket</h2>
    <hr>
    <br>
    <form method="post" action="">
      {% csrf_token %}
      <!-- TODO: 購入内容を表示する -->
      <p>{{ event.name }}</p>
      <p>{{ event.date }}</p>
      <p>{{ event.personal_time }}</p>
      <div class="field">
        <p class="control">
          <input type="submit" value="購入する" class="button is-success">
          <input type="hidden" name="next" value="{{ next }}">
        </p>
      </div>
    </form>
  </div>
</section>
{% endblock %}