{% extends 'cms/base.html' %}

{% block title %}イベント作成 | {% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"> {# tempusdominus CSS #}
{% endblock %}

{% block js %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js" integrity="sha256-4HOrwHz9ACPZBxAav7mYYlbeMiAL0h6+lZ36cLNpR+E=" crossorigin="anonymous"></script> {# moment.js #}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script> {# tempusdominus JS (depends on moment.js) #}
{% endblock %}

{% block content %}
<div class="bg-light">
  <div class="container py-3">
    <h1 class="border-bottom pb-2">イベント作成</h1>
    <form method="post" action="" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-bullhorn"></i></span>
          </div>
          {{ form.name }}
        </div>
        {% if form.name.help_text %}<small class="form-text text-muted">{{ form.name.help_text }}</small>{% endif %}
      </div>
      {% include "./error_alert.html" with errors=form.name.errors %}

      <div class="form-group">
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
          </div>
          {{ form.date }}
        </div>
        {% if form.date.help_text %}<small class="form-text text-muted">{{ form.date.help_text }}</small>{% endif %}
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            $('#{{ form.date.id_for_label }}').datetimepicker({
              format: 'YYYY-MM-DD HH:mm',
              icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
              },
              ignoreReadonly: true,
              locale: 'ja',
              minDate: moment().format(),
              stepping: 15,
            });
          });
        </script>
      </div>
      {% include "./error_alert.html" with errors=form.date.errors %}

      <div class="form-group">
        <label for="{{ form.personal_time.id_for_label }}">{{ form.personal_time.label }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-clock"></i></span>
          </div>
          {{ form.personal_time }}
        </div>
        {% if form.personal_time.help_text %}<small class="form-text text-muted">{{ form.personal_time.help_text }}</small>{% endif %}
      </div>
      {% include "./error_alert.html" with errors=form.personal_time.errors %}

      <div class="form-group">
        <label for="{{ form.total_ticket.id_for_label }}">{{ form.total_ticket.label }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-ticket-alt"></i></span>
          </div>
          {{ form.total_ticket }}
        </div>
        {% if form.total_ticket.help_text %}<small class="form-text text-muted">{{ form.total_ticket.help_text }}</small>{% endif %}
      </div>
      {% include "./error_alert.html" with errors=form.total_ticket.errors %}

      <div class="form-group">
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        <div class="input-group">
          {{ form.image }}
        </div>
        {% if form.image.help_text %}<small class="form-text text-muted">{{ form.image.help_text }}</small>{% endif %}
      </div>
      <div id="preview">
        <script>
          document.getElementById('{{ form.image.id_for_label }}').addEventListener('change', e => {
            var reader = new FileReader();
            var preview = document.getElementById('preview');
            var previewImage = document.getElementById('previewImage');
            var file = e.target.files[0];
            if (previewImage != null) preview.removeChild(previewImage);
            reader.onload = (e => {
              var img = document.createElement('img');
              img.setAttribute('src', reader.result);
              img.setAttribute('id', 'previewImage');
              img.classList.add('img-fluid');
              img.classList.add('img-thumbnail');
              img.classList.add('mb-3');
              preview.appendChild(img);
            });
            if (file instanceof Blob || file instanceof File) reader.readAsDataURL(file);
          });
        </script>
      </div>
      {% include "./error_alert.html" with errors=form.image.errors %}

      <button type="submit" class="btn btn-primary">作成</button>
    </form>
  </div>
</div>
{% endblock %}