{% extends 'cms/base.html' %}

{% block title %}イベント作成 | {% endblock %}

{% block content %}
<div class="bg-light">
  <div class="container py-3">
    <h1 class="border-bottom pb-2">イベント作成 <small class="text-muted">Create Event</small></h1>
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">イベント名</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-bullhorn"></i></span>
          </div>
          {{ form.name }}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.date.id_for_label }}">開催日時</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
          </div>
          {{ form.date }}
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            $('#{{ form.date.id_for_label }}').datetimepicker({
              format: 'YYYY-MM-DD HH:mm',
              icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
              },
              locale: 'ja',
              minDate: moment().format('L'),
            });
          });
        </script>
      </div>
      <div class="form-group">
        <label for="{{ form.personal_time.id_for_label }}">1人あたりの時間（秒）</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-clock"></i></span>
          </div>
          {{ form.personal_time }}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.total_ticket.id_for_label }}">チケット発行数（枚）</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-ticket-alt"></i></span>
          </div>
          {{ form.total_ticket }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">作成</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
{% endblock %}