{% extends 'cms/base.html' %}
{% load static %}

{% block title %}{{ event.name }}に参加中 | {% endblock %}

{% block content %}
<div class="hero pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-9 mb-3">
        <div class="remote-video-container">
          <div id="pleaseWait" class="embed-responsive embed-responsive-16by9" style="background-image: url('https://img-mdpr.freetls.fastly.net/article/AyLL/nm/AyLLp1iWF2PLmWppqJElOzmT4SnkPJMnpaIPm7pEMTM.jpg');">{# TODO: event.image #}
            <div class="embed-responsive-item p-2 d-flex flex-column align-items-center justify-content-center">
              <h1>{{ event.name }}</h1>
              <p><b>{{ event.host.username }}</b>: 今日は楽しんでいきましょう！</p>{# TODO: message（約100文字以内） #}
              {% if user != event.host %}
              <p>このままお待ちください。</p>
              {% endif %}
            </div>
          </div>
          <video id="remoteVideo" class="d-none"></video>
        </div>
      </div>
      <div class="col-12 col-sm-3 mb-3">
        {% if user == event.host %}
        <button id="js-start" class="btn btn-primary btn-block mb-2"><i class="fas fa-video"></i> 開始する</button>
        {% else %}
        <button id="js-join" class="btn btn-primary btn-block mb-2"><i class="fas fa-video"></i> 参加する</button>
        {% endif %}
        <video id="localVideo" class="img-fluid"></video>
      </div>
    </div>
  </div>
</div>

{# TODO: インラインJSでデータ記述 #}
<div id="js-event" value="{{ event.id }}"></div>
{% if user == event.host%}
<div id="js-lastTicket" value="{{ ticket.order }}"></div>
<div id="js-personalTime" value="{{ event.personal_time }}"></div>
{% else %}
<div id="js-user" value="user"></div>
<div id="js-ticket" value="{{ ticket.id }}"></div>
{% endif %}

<script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script src="{% static 'js/video.js' %}"></script>
{% endblock %}