<div class="event-card card">
  <div class="row no-gutters">
    <div class="col-6">
      {% if event.image %}
      <img class="card-img" src="{{ event.image.url }}" alt="{{ event.name }}" loading="lazy">
      {% endif %}
    </div>
    <div class="col-6">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-user"></i> {{ event.host.username }}</li>
          <li><i class="fas fa-calendar-day"></i> {{ event.date|date:"n/d f" }}〜</li>
          <li><i class="fas fa-clock"></i> {{ event.personal_time }}秒/枚</li>
        </ul>
        {% if user == event.host %}
        {% if event.status == 2 %}
        <button type="button" disabled class="btn btn-danger">終了</button>
        {% else %}
        <a class="btn btn-info" href="{% url 'cms:eve_now' event.id %}">開催</a>
        {% endif %}
        {% else %}
        {% if event.status == 2 %}
        <button type="button" disabled class="btn btn-danger">終了</button>
        {% elif event.total_ticket <= event.purchaced_ticket %}
        <button type="button" disabled class="btn btn-success">完売</button>
        {% elif event.status == 1 and event in purchased_events %}
        <a class="btn btn-info" href="{% url 'cms:eve_now' event.id %}">参加</a>
        {% else %}
        <a class="btn btn-info btn-block" href="{% url 'cms:eve_de' event.id %}">詳細</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>