{% extends 'cms/base.html' %}

{% block title %}{{ event.name }} イベント詳細 | {% endblock %}

{% block content %}
<div class="events">
  <div class="container pt-3">
    <h1 class="border-bottom pb-2">{{ event.name }} <small class="text-muted">イベント詳細</small></h1>
    {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
    <div class="row">
      {% if event.image %}
      <div class="col-12 col-md-5 col-lg-6 text-center mb-3">
        <img class="img-fluid img-thumbnail" src="{{ event.image.url }}" alt="{{ event.name }}">
      </div>
      {% endif %}
      <div class="col-12 col-md-7 col-lg-6 mb-3">
        <ul class="list-group mb-2">
          <li class="list-group-item"><i class="fas fa-user"></i> <b>主催</b> {{ event.host.username }}</li>
          <li class="list-group-item"><i class="fas fa-calendar"></i> <b>日時</b> {{ event.date }}</li>
          <li class="list-group-item"><i class="fas fa-clock"></i> <b>時間</b> {{ event.personal_time }}秒</li>
          <li class="list-group-item"><i class="fas fa-ticket-alt"></i> <b>残り</b> {{ event.total_ticket }}枚</li>
          <li class="list-group-item"><i class="fas fa-bullhorn"></i> <b>状態</b>
            {% if event.status == 0 %}{# TODO: 完売表示 #}
            販売中
            {% elif event.status == 1 %}
            開催中
            {% elif event.status == 2 %}
            終了
            {% endif %}
          </li>
        </ul>
        {% if is_ticket %}
        <button class="btn btn-primary" disabled><i class="fas fa-shopping-cart"></i> 購入済み</button>
        {% else %}
        <a class="btn btn-primary" href="{% url 'cms:buy' event.id%}"><i class="fas fa-shopping-cart"></i> 購入する</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}