{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Title</h1>
      <h2 class="subtitle">Subtitle</h2>
      <a href="{% url 'cms:eve_new' %}">
        <button class="button is-info is-inverted is-outlined">
          <strong>イベント作成</strong>
        </button>
      </a>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title">Section</h1>
      {% if coming_event_list %}
        <ul>
          {% for event in coming_event_list %}
          <li>
            <a href="#">{{ event.name }}</a>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>予定のイベントはありません。</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}