{% extends 'cms/base.html' %}

{% block hero %}
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 my-3">
        {% if user.is_authenticated %}
        <h3>あなたの参加予定イベント</h3>
        <ul>
        </ul>
        {% else %}
        <div class="jumbotron">
          <h1 class="display-4">リモートでも会いに行ける</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p>OnAcu（オンアク）は、オンライン握手会プラットフォームです。</p>
          <a class="btn btn-secondary btn-lg" href="#" role="button">詳しく</a>
        </div>
        {% endif %}
      </div>
      <div class="col-12 col-md-4 my-3">
        カレンダー
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="events">
  <div class="container pt-3">
    <h3>イベント情報</h3>
    {% if coming_event_list %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      {% for event in coming_event_list %}
      <div class="col">
        <div class="card mb-3">
          <img src="https://placehold.jp/640x360.jpg"
            class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ event.name }}</h4>
            <a href="{% url 'cms:eve_de' event.id %}" class="btn btn-primary">詳細</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col">
        <div class="card mb-3">
          <img src="https://cdn.keyakizaka46.com/images/14/a6e/f04ad5cfc4f2b7d55dc6c3e37c925-01.jpg"
            class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">渡邉理佐 握手会</h4>
            <dl class="card-text row">
              <dt class="col-3">日時</dt>
              <dd class="col-9">2020年5月30日 12:00</dd>
              <dt class="col-3">時間</dt>
              <dd class="col-9">10秒</dd>
              <dt class="col-3">料金</dt>
              <dd class="col-9">&yen;500</dd>
            </dl>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p>予定のイベントはありません。</p>
    {% endif %}
  </div>
</div>
{% endblock %}